python-dotenv
flet==0.22.1
flet-contrib
python-i18n
pydantic==1.10.16
cryptography
requests
pytz
python-dateutil
aiohttp
binary-reader
cx-freeze
humanize
aiofiles
aiofile
toml
vdf
psutil
sympy
pillow
pystray
win11toast
pywin32